{
    "env": {
        "es6": true,
        "browser": true,
        "mocha": true
    },
    "extends": "airbnb/base",
    "ecmaFeatures": {
        "modules": true
    },
    "rules": {
        "prefer-template": 0,
        "indent": [
            2,
            4
        ]
    }
}
